<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Родитель' %><br />
    <%= select_tag 'page[parent_id]', options_for_select(nested_set_options(Page) {|i| "#{'-' * i.level} #{i.title}" }, @page.parent_id ) %>
  </div>
  
  <div class="field">
    <%= f.label 'Путь' %><br />
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label 'Название' %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label 'Содержимое' %><br />
    <%= f.cktext_area :content, :toolbar => 'Full' %>
  </div>
  <div class="actions">
    <%= f.submit 'Сохранить', :class => 'btn btn-danger' %>
  </div>
<% end %>
