<h1>Категории</h1>

<table cellpadding="5" cellspacing="5">
  <tr>
    <th>Родительская</th>
    <th>Ссылка</th>
    <th>Название</th>
    <th>Показывать</th>
    <th>Порядок</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td>
      <% @categories.each do |parent| %>
        <% if parent.id == category.parent %>
          <%= parent.name %>
        <% else %>

        <% end %>
      <% end %>
    </td>
    <td><%= category.link %></td>
    <td><%= category.name %></td>
    <td><%= category.show ? 'Да' : 'Нет' %></td>
    <td>
      <%= category.menu_order %>
      <i class="icon-arrow-up"></i>
      <i class="icon-arrow-down"></i>
    </td>
    <td>
      <%= link_to(category, :class => 'btn btn-mini') do %>
        Просмотр <i class="icon-eye-open"></i>
      <% end %>
    </td>
    <td>
      <%= link_to(edit_category_path(category), :class => 'btn btn-mini') do %>
        Редактировать <i class="icon-edit"></i>
      <% end %>
    </td>
    <td>
      <%= link_to(category, method: :delete, data: { confirm: 'Вы уверены?' }, :class => 'btn btn-mini btn-danger') do %>
        Удалить <i class="icon-trash icon-white"></i>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to(new_category_path, :class => "btn btn-primary") do %>
  Новая категория <i class="icon-plus icon-white"></i>
<% end %>

<br>
<% @categoriesHash.each do |cat_id, cat_name| %>
  <%= cat_id %> - <%= cat_name %><br>
<% end %>
