<!DOCTYPE html>
<html>
<head>
  <title>ChipZip</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Chip-Zip</a>
      <div class="nav-collapse">
        <ul class="nav">
          <% if admin_signed_in? %>
            <li><%= link_to "Редактирование страниц", manage_pages_path %></li>
            <li>
              <%= link_to(destroy_admin_session_path, :method => :delete) do %>
                <i class="icon-off icon-white"></i> Выход 
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span2">
      <% if params[:controller] == 'views' %>
      <%= render :partial => "tree" %>
      <% end %>
    </div>
    <div class="span10">
      <p class="notice"><%= notice %></p>
      <% if !alert.nil? %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
